
a{cursor: pointer;}
html{height: 100%;width: 100%;}
body{background: url(/img/bande-grise.jpg) repeat top left transparent;height: 100%;width: 100%;


}
.strong{font-weight: bold;}

#contenerDiv{
    background: url(/img/bande-accueil.jpg) repeat top left transparent;
    position: relative;
    height: 848px;
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
   

}

a, p, span, li
{ font-family: verdana, arial, sans-serif;}

li,menuDeco,
#menu ul,
#menuDeco{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;}


span , a, footer{font-family: arial,verdana,sans-serif;}

body {margin:0px;  height: 100%; width: 100%;  background: url("/img/bande-grise.jpg") repeat-x top center transparent; overflow: hidden; position: relative; vertical-align: middle;  }





#header{

    color: white;
    height: 286px;
    margin: 0px auto 0;
    padding-left: 44px;
    position: relative;
    text-align: center;
    width: 520px;

}

#header h1{font-weight: normal;
           bottom: -35px;
           font-size: 64px;
           height: 520px;
           position: absolute;
           font-size: 64px;
}
#header span.paulmeSpan {
    font-size: 57px;
    left: 2px;
    line-height: 55px;
}
#header span {
    bottom: 0;
    font-size: 31px;
    left: 244px;
    position: absolute;
    text-transform: uppercase;
}

.content{width: auto; position:relative; margin: 0 auto; display: none;}
#galleria{position:relative; width:1090px; height:777px; margin: 0 auto; }
#footer {
    color: #000000;
    font-size: 14px;
    text-align: center;
    width: 585px;
    height: 61px;
    position: absolute;
    margin: 0 auto;
    top: 694px;
    left: 309px;
    padding-top: 55px;
}

#logoOmbre {
    position: absolute;
    height: 77px;
    width: 122px;
    top: 207px;
    z-index: 65;
    background: url("/img/logoOmbre.png") no-repeat 0 0 transparent;
    left: 542px;
}

#petitRond{position:absolute; height: 150px; width:150px; z-index: 50;  background: url("/img/petitRond.png") no-repeat  0 0 transparent; left:1052px; top:109px;}
#rondMoyen{position:absolute; height: 235px; width:236px; z-index: 51; background: url("/img/rondMoyen.png") no-repeat  0 0 transparent; left: -84px; top:112px;}
#grandRond{position:absolute; height: 373px; width:375px; z-index: 52; background: url("/img/grandRond.png") no-repeat  0 0 transparent; left: 112px; top:259px;} 
#traitMiLong{position:absolute; height: 2px; width:1187px; top:321px; z-index: 53; background: url("/img/traitLong.png") no-repeat  0 0 transparent; right:1187px;}
#traitMoyen{position:absolute; height: 2px; width:987px; top:211px; z-index: 54; background: url("/img/traitMiLong.png") no-repeat  0 0 transparent; left: 673px;}
#sifletLogo{
    background: url("/img/logoPaulme.png") no-repeat scroll 0 0 transparent;
    height: 152px;
    left: 522px;
    position: absolute;
    top: 77px;
    width: 191px;
    z-index: 55;

}

#logoJaune{z-index: 59; position:absolute;  top: 125px; left:112px; height: 100px; width: 193px; background: url("/img/logoJaune2.png") no-repeat  0 0 transparent;}
#logoBleu{z-index: 62; position:absolute; top:-17px; left:608px; height: 78px; width: 69px; background: url("/img/logoBleu.png") no-repeat  0 0 transparent;}

#logoRougeM1{z-index: 58; position:absolute; top: 134px; left:990px; height: 45px; width: 70px; background: url("/img/logoRougeM1.png") no-repeat  0 0 transparent;}
#logoRougeM2{z-index: 63; position:absolute; top: 149px; left:1017px; height: 91px; width: 77px; background: url("/img/logoRougeM2.png") no-repeat  0 0 transparent;}

section{position:relative; height:273px; width: 1190px; margin-top:37px;}
.fondSection{position:absolute; height:273px; width: 1190px;}

.numeroTel{text-decoration:none; color:black;}
.email{text-decoration:none; color:black;}
.email:hover{text-decoration:underline;}
#lienFooter li{list-style: none; display: inline-block; }
#lienFooter li a {text-decoration:none;  color:black; font-size: 12px;}
#lienFooter li a:hover, #footer a:hover{text-decoration:underline;}

#montagne{position: absolute; top:0px; left:0px; background: url(/img/montagne.png) left top no-repeat; height: 800px; width: 502px; z-index: 60;}
#menuDeco{
    position: absolute;
    top:564px;
    left: 0px;
    padding-left:422px;
    height: 32px;
    width: 100%;
    bottom: 0;
    background-color: #3365a9;
    /*background-color: rgba(51,101,169,0.5);*/
    background-color: rgba(25, 45, 71, 0.5)
}

#menu ul {
    padding-left:422px;
    position: absolute;
    height: 32px;
    width: 100%;
    top: 549px;
    left: 0px;
    z-index: 70;
}

#menu ul li{ display: inline-block; height: 100%; padding-left: 44px;position: relative; vertical-align: top;}
#menu ul li a{text-transform: capitalize; color:#A5A5A5; text-decoration: none; font-size: 12px; line-height: 32px; height: 32px; cursor: pointer; font-weight: bold;}
#menu ul li a:hover,#menu ul li a.selected{color:#fff;}

#menu .subnav{
    position: absolute;
    bottom: 32px;
    left: 32px;
    top:auto;
    width: 100%;
    /*display: none;*/
    -webkit-transition:all 0.2s ease-in-out 0s;
    -moz-transition:all 0.2s ease-in-out 0s;
    -o-transition:all 0.2s ease-in-out 0s;
    transition:all 0.2s ease-in-out 0s;
   
    opacity: 0; 
    height: 0;
    padding-left: 0;

}

#menu .subnav li{
    position: relative;
    display: list-item;
    background-color: #9dc1dd;
    padding: 8px 8px 8px 10px;
    height: auto;
    min-height: 0px;
    text-align: left;
    color:#fff;
    display: none;
    list-style: none;
}

#menu .subnav li a{

    position: relative;
    color: #fff;
    text-decoration: none;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;

}
#menu .subnav li a:hover{color: #152b50;}

#menu li:hover > .subnav li{display: list-item;}
#menu li:hover > .subnav{opacity:1;height: auto;margin: 0;padding: 0;  }
#footer li:first-child{list-style: none;}
#footer li{display:list-item; list-style:disc outside none; float: left; margin-left: 23px;}

.frFlag{position:absolute; top:0; left: 281px; width: 57px; height: 44px; cursor: pointer;background: url(/img/langueSite.png) top left no-repeat; z-index: 10; }
.enFlag{position:absolute; top:0; left: 236px; width: 57px; height: 44px;cursor: pointer; background: url(/img/langueSite.png)  no-repeat; background-position: 0 -44px;z-index: 20;}
#menuMobile{display: none;}
#footer ul {
    margin-top: 40px;
    width: 500px;
    margin: 40px auto 0;
}

#menu .subnav { opacity: inherit\9; }
#menu li:hover > .subnav{opacity:inherit\9;}
#menuDeco{ background: none\9; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#32192d47, endColorstr=#32192d47)"; zoom: 1;}
.accueilMobile{display:none;}

#footer a{color: #000; text-decoration: none;}
#footer a:hover{text-decoration: underline;}
#footer p{margin:0; padding: 0px;}


#share{max-width: 20%;display: inline-block;}